* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 16px;
}

.page-header {
  height: 10vh;
  display: flex;
  background-color: #5885AF;
}

main {
  height: 85vh;
  display: flex;
}

.left {
  flex: .75;
  padding: 10px;
  background-color: #aaa8a8ee;
}

.right {
  flex: 1.25;
  background-color: #ccccccc0;
}

h1 {
  color: #C3E0E5;
  margin-bottom: 10px;
  font-weight: bold;
}

.title {
  flex: .5;
  font: 32px sans-serif;
  padding-left: 30px;
  padding-top: 20px;
}

.motto {
  flex: 1;
  color: antiquewhite;
  font: 22px sans-serif;
  padding-top: 45px;
}

.nav {
  flex: 1;
  flex-direction: row;
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}

.nav li {
  display: inline-block;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 35px;
  padding-bottom: 30px;
}

.nav a {
  color: white;
  background-color: #417295;
  padding: 15px 20px 0 10px;
  border-radius: 5%;
  text-decoration: none;
  box-shadow: 4px 3px 3px #C3E0E5;
  font-weight: bold;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: red;
}

.time {
  margin: 20px;
  padding: 30px;
  border-radius: 5%;
  box-shadow: #417295 5px 4px;
  background-color: #bab5b5c5;
}

.footer {
  height: 5vh;
  color: #666;
  background-color: #ccc;
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
}

#me {
  display: flex;
  align-items: center;
}

.meme {
  display: grid;
  place-items: center;
}
.meme img{
  padding: 50px;
  border-radius: 10%;
  box-shadow: #417295 5px 5px 5px 5px;
}

.skills {
  display: flex;
  padding: 10px;
  margin: 30px;
  justify-content: space-around;
}

.card {
  margin: 10px;
  padding: 20px;
  border-radius: 25%;
  background-color: #417295;
  color: white;
  font-size: 60px;
  box-shadow: #417295 5px 5px 5px 5px;
  text-align: center;
}

#contacts {
  display: flex;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.form-group{
    margin-bottom: 5px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group textarea
{
    width: 500px;
    padding: 10px;
    border: 2px solid #5885AF;
    border-radius: 5px;
    font-size: 1rem;
    font-family: Verdana,Tahoma, sans-serif;
}

#form button 
{
  width: 50%;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 12px;
}
